# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    #esi:             ~
    #translator:      { fallbacks: ["%locale%"] }
    secret:          "%env(APP_SECRET)%"
    csrf_protection: true
    #serializer:      { enable_annotations: true }
    trusted_hosts:   ~
    trusted_proxies: '%env(TRUSTED_PROXIES)%'
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        storage_factory_id: session.storage.factory.native
        save_path:  "%kernel.project_dir%/var/sessions/%kernel.environment%"
        cookie_lifetime: 604800 # 1 week
    fragments:       ~
    http_method_override: true
    php_errors:
        log: true
