/config/table_map.yml
/config/parameters.yml
/config/request_blacklist.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/log/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/node_modules/

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea/
*.swp
.DS_Store
/mrb_prepcommit.sh
i18n_helper.js
phpDocumentor.phar
coverage.xml
.web-server-pid
.phpunit.result.cache
