/app/config/table_map.yml
/app/config/parameters.yml
/app/config/labs_overrides.yml
/app/config/request_blacklist.yml
/app/Resources/node_modules
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/config.php
/web/css/
/web/static/production/
~

.idea/

/docs/_build
/docs/api/phpdoc-cache-*
/docs/api/checkstyle.xml
/app/config/multisite.yml
*.swp
.DS_Store
/mrb_prepcommit.sh
/app/config/project_map.yml
i18n_helper.js
phpDocumentor.phar
coverage.xml
