<a href='https://phabricator.wikimedia.org/maniphest/task/create/?title=PLEASE REPLACE WITH A DESCRIPTION OF THE ISSUE&amp;projects=XTools&amp;description=Please provide any further details here%0A%0AXTools version: {{ version }}-{{ shortHash() }}' target=_blank>{{ msg('report-issue') }}</a>
&middot;
<a href="irc://irc.freenode.net/#wikimedia-xtools" target="_blank">#wikimedia-xtools</a>
<sup><a style="color:green" href="https://webchat.freenode.net/?channels=#wikimedia-xtools" target="_blank">{{ msg('web-chat') }}</a></sup>