{% extends 'base.html.twig' %}

{% block body %}
    {{ msg("welcome") }}<br /><br />
    {{ msg("maintainers") }}:
    <ul>
        <li><a href="//en.wikipedia.org/wiki/User:Cyberpower678"><b>Cyberpower678</b></a></li>
        <li><a href="//de.wikipedia.org/wiki/User:Hedonil">Hedonil</a></li>
        <li><a href="//en.wikipedia.org/wiki/User:Matthewrbowker"><b>Matthewrbowker</b></a></li>
        <li><a href="//en.wikipedia.org/wiki/User:MusikAnimal"><b>MusikAnimal</b></a></li>
        <li><a href="//en.wikipedia.org/wiki/User:Scottywong">Scottywong</a></li>
        <li><a href="//en.wikipedia.org/wiki/User:Technical_13">Technical 13</a></li>
        <li><a href="//en.wikipedia.org/wiki/User:TParis">TParis</a></li>
        <li><a href="//en.wikipedia.org/wiki/User:X!">X!</a></li>
    </ul>

    {{ msg("tools") }}:
    <ul>
        <li><a href="//github.com/x-Tools/xtools/" >View Source</a></li>
        <li><a href="https://phabricator.wikimedia.org/tag/tool-labs-tools-xtools/" >Bugs</a></li>
        <li><a href="irc://irc.freenode.net/#wikimedia-labs" >#wikimedia-labs</a>
            <span><sup><a  style="color:green" href="https://webchat.freenode.net/?channels=#wikimedia-labs">WebChat</a></sup></span></li>
    </ul>
{% endblock %}
