{% extends 'base.html.twig' %}

{% block body %}
    {{ msg("welcome") }}<br /><br />
    {{ msg("maintainers") }}:
    <ul>
        <li><a href="//en.wikipedia.org/wiki/User:Cyberpower678" target="_blank"><b>Cyberpower678</b></a></li>
        <li><a href="//de.wikipedia.org/wiki/User:Hedonil" target="_blank">Hedonil</a></li>
        <li><a href="//en.wikipedia.org/wiki/User:Matthewrbowker" target="_blank"><b>Matthewrbowker</b></a></li>
        <li><a href="//en.wikipedia.org/wiki/User:MusikAnimal" target="_blank"><b>MusikAnimal</b></a></li>
        <li><a href="//en.wikipedia.org/wiki/User:Scottywong" target="_blank">Scottywong</a></li>
        <li><a href="//en.wikipedia.org/wiki/User:Technical_13" target="_blank">Technical 13</a></li>
        <li><a href="//en.wikipedia.org/wiki/User:TParis" target="_blank">TParis</a></li>
        <li><a href="//en.wikipedia.org/wiki/User:X!" target="_blank">X!</a></li>
    </ul>

    {{ msg("tools") }}:
    <ul>
        <li><a href="//github.com/x-Tools/xtools/" target="_blank">View Source</a></li>
        <li><a href="https://phabricator.wikimedia.org/tag/tool-labs-tools-xtools/" target="_blank">Bugs</a></li>
        <li><a href="irc://irc.freenode.net/#wikimedia-labs" target="_blank">#wikimedia-labs</a>
            <span><sup><a  style="color:green" href="https://webchat.freenode.net/?channels=#wikimedia-labs" target="_blank">WebChat</a></sup></span></li>
    </ul>
{% endblock %}
