{% extends 'base.html.twig' %}

{% block body %}
    {# Nothing here right now, soon to be a list of tools. #}
    We have the following tools available:
    <ul>
        {% for tool in tools() %}
            {% if enabled(tool) %}<li>{{ link(tool, msg("tool_" ~ tool)) }}</li>{% endif %}
        {% endfor %}
    </ul>
{% endblock %}
