{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-8 col-lg-offset-2">
        <p>We have the following tools available:</p>
        <ul>
            {% for tool in tools() %}
                {% if enabled(tool) %}<li><a href="{{ path(tool) }}">{{ msg("tool_" ~ tool) }}</a></li>{% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
