{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-8 col-lg-offset-2">
        <p>We have the following tools available:</p>
        <ul id="tool-list">
            {% for tool in tools() %}
                {% if enabled(tool) %}
                    <li>
                        <a href="{{ path(tool) }}">{{ msg("tool-" ~ tool) }}</a>
                        &mdash;
                        {{ msg("tool-" ~ tool ~ "-desc") }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
