{% extends 'base.html.twig' %}

{% block body %}
    <form class="form-horizontal" style="width:80%; margin:0 auto" action="{{ link("/topedits") }}" method="get" accept-charset="utf-8" >
        <fieldset>
            <legend></legend>

            <div class="input-group">
                <span class="input-group-addon form-label">Username</span>
                <input type="text" class="form-control" value="" name="user">
			<span class="input-group-addon glyphicon glyphicon-info-sign tooltipcss"  >
				<span>
        			<img class="callout" src="../static/images/callout.png" />
        			<strong>Multiple Users allowed <br/>(combined with page):</strong><br />
        			eg: UserX|UserY|UserZ ...
    			</span>
			</span>
            </div>

            <div class="input-group{% if isSingleWiki() %} hidden{% endif %}">
                <span class="input-group-addon form-label">{{ msg("wiki") }}</span>
                <input type="text" class="form-control"
                       {% if (project is defined) and (project != "") %}value="{{ project }}"
                       {% elseif isSingleWiki() %}value="wiki"
                        {% endif %}
                       name="project">
			<span class="input-group-addon glyphicon glyphicon-info-sign tooltipcss"  >
				<span>
        			<img class="callout" src="/static/images/callout.png" />
        			<strong>Accepted formats :</strong><br />
        			enwiki or en.wikipedia or <br />https://de.wikipedia.org ...
    			</span>
			</span>
            </div>

            <div class="input-group">
                <span class="input-group-addon form-label">Namespace</span>
                <select class="form-control" name="namespace">
                    <option value="0">Main</option>
                    <option value="1">Talk</option>
                    <option value="2">User</option>
                    <option value="3">User talk</option>
                    <option value="4">Wikipedia</option>
                    <option value="5">Wikipedia talk</option>
                    <option value="6">File</option>
                    <option value="7">File talk</option>
                    <option value="8">MediaWiki</option>
                    <option value="9">MediaWiki talk</option>
                    <option value="10">Template</option>
                    <option value="11">Template talk</option>
                    <option value="12">Help</option>
                    <option value="13">Help talk</option>
                    <option value="14">Category</option>
                    <option value="15">Category talk</option>
                    <option value="100">Portal</option>
                    <option value="101">Portal talk</option>
                    <option value="108">Book</option>
                    <option value="109">Book talk</option>
                </select>
            </div>

            <div class="input-group">
                <span class="input-group-addon form-label">Page title:</span>
                <input type="text" class="form-control" value="" name="article">
			<span class="input-group-addon">
        		<input type="checkbox" name="nofollowredir" /> Don't follow redirects
      		</span>
            </div>

            <br />
            <input class="btn btn-large btn-primary" type="submit" value="Submit" />
        </fieldset>
    </form>
{% endblock %}
