# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:              127.0.0.1
    database_port:              ~
    database_name:              symfony
    database_user:              root
    database_password:          ~
    database_replica_host:      127.0.0.1
    database_replica_port:      ~
    database_replica_name:      enwiki
    database_replica_user:      root
    database_replica_password:  ~
    database_meta_name:         meta_p
    database_toolsdb_host: 127.0.0.1
    database_toolsdb_port: null
    database_toolsdb_name: null

    # Oauth consumer credentials, from https://meta.wikimedia.org/wiki/Special:OAuthConsumerRegistration
    oauth_key:                  ~
    oauth_secret:               ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    cache.adapter: filesystem
    cache.redis_dsn: 'redis://localhost'

    wiki_url:                   http://en.wikipedia.org
    api_path:                   /w/api.php
    default_project:            en.wikipedia.org
    opted_in:                   ~

    # A secret key that's used to generate certain security-related tokens, and as the secret for the internal API.
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Code for the display of the notice.  noticeDisplay is bool, display or not. noticeStyle is one of "error,"
    # "warning," "succeess," "info."  noticeText contains the message shown to the user.
    app.noticeDisplay: false
    app.noticeStyle:   ""
    app.noticeText:    ""

    app.load_stylesheets_from_cdn: 0

    app.single_wiki: 1
    app.is_labs: 0

    app.replag_threshold: 30

    app.rate_limit_time: 5
    app.rate_limit_count: 10

    app.multithread: 0
    app.base_path: https://xtools.example.org

    app.query_timeout: 900

    app.max_page_revisions: 50000
    app.max_user_edits: 350000

    # Ignore for any non-WMF installation. This is only meant to convert legacy parameters.
    languageless_wikis:

    # Enabling or disabling of individual tools
    enable.adminscore: 1
    enable.adminstats: 1
    enable.articleinfo: 1
    enable.autoedits: 1
    enable.bash: 0
    enable.ec: 1
    enable.es: 1
    enable.pages: 1
    enable.rfx: 0
    enable.rfxvote: 0
    enable.sc: 1
    enable.topedits: 1
