{%- set link -%}
    <a target="_blank" href='https://www.mediawiki.org/wiki/Special:MyLanguage/Help:RevisionDelete'>{{ msg('error-deleted-data-link') }}</a>
{%- endset -%}
{{- msg('error-deleted-data-msg', [numRevs, link]) -}}
