{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        The following are the config options XTools is currently running...
        <pre>
            {{ dump }}
        </pre>
    </div>
{% endblock %}