@import 'mixins.scss';

.autoedits {
    #summary .chart-wrapper {
        max-width: 300px;

        canvas {
            max-width: 300px;
        }

        .chart-legend {
            display: none;
        }
    }

    #tool_chart {
        height: auto;
        width: auto;
        display: none;
    }

    .autoedits-stat-list {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .tool-selector-form {
        margin-bottom: 20px;

        .btn-primary {
            vertical-align: bottom;
        }

        .form-submit {
            margin-bottom: 0;
        }
    }

    #toolSelector {
        display: inline-block;
        width: auto;
    }

    .tooltipcss--tool-counts {
        cursor: help;
        position: relative;
        vertical-align: -1px;

        .tooltip-body {
            min-width: 300px;
        }
    }

    .footnotes {
        margin: 20px 0 0;
    }
}
