@import 'mixins.scss';

.editcounter {
    .stat-list .table {
        margin: 0 auto;

        &.rights-changes-summary {
            margin: 0;
        }
    }

    .stat-list--empty-group {
        font-weight: normal !important;

        &::after {
            content: '' !important;
        }
    }

    #timecard-bubble-chart {
        max-width: 1100px;
    }

    #yearcounts-canvas,
    #monthcounts-canvas {
        max-width: 1000px;
    }

    .yearmonth-container {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        width:100%;
    }

    .yearmonth-chart-container {
        flex-grow:1;
    }

    #namespace-canvas {
        height: auto;
        width: auto;
    }
    
    div.chart-wrapper.qualitychangechart {
        float:none;
    }

    .top-project-edit-counts td {
        white-space: nowrap;
    }

    .footnotes {
        clear: both;
        padding-top: 20px;
    }

    .tooltipcss--pages-created {
        position: relative;
        vertical-align: -1px;

        &:hover {
            text-decoration: none;
        }

        .tooltip-body {
            min-width: 300px;
        }
    }

    .pending {
        opacity: 0.5;
    }
}
