@import 'mixins.scss';
@import 'rtl.scss';
@import 'darkmode.scss';

/*** LARGE SCREENS ***/

@media (min-width: $bootstrap-lg) {
  .xt-panel-body table {
    width: auto;
  }
}

@media (max-width: $bootstrap-lg) {
  .stat-list > .table td,
  .stat-list > .table th {
    &:first-child {
      width: 300px;
    }
  }
}

/*** MOBILE SCREENS ***/

@media (max-width: $bootstrap-md) {
  .error-mascot {
    width: 200px;
  }
}

/*** MOBILE SCREENS ****/

@media (max-width: $bootstrap-sm) {
  .basic-info-charts {
    .chart-wrapper {
      display: block !important;

      .chart-legend {
        margin-bottom: 15px;
      }
    }
  }

  .app-footer {
    position: relative;
  }

  .footer-branding {
    float: left !important;
    margin-bottom: 10px;
  }

  .footer-about {
    clear: both;
    display: block;
    max-width: 100%;
  }

  .footer-quote {
    white-space: normal;
    overflow-x: initial;
    text-overflow: initial;
  }

  .xt-panel-description {
    display: block;
  }

  .stat-list {
    padding: 0;
  }

  .stat-list > .table td,
  .stat-list > .table th {
    &:first-child {
      display: block;
      padding-top: 5px;
      text-align: left !important;

      &.stat-list--new-group {
        padding-top: 15px !important;
      }
    }
    &:last-child,
    .stat-list--new-group {
      display: block;
      padding-top: 0 !important;
    }
  }

  .stat-list--group {
    padding-top: 15px !important;

    tr > td {
      padding-top: 5px !important;
    }

    & > tr:first-child > td {
      text-align: left !important;
    }
  }

  .back-to-search {
    font-size: 0;

    .glyphicon {
      font-size: initial;
    }
  }

  .tool-links {
    clear: both;
    width: 100%;
  }

  .xt-panel-body {
    padding: 15px 0;
  }

  .panel-default {
    border-radius: 0;
  }

  #wrapper {
    margin: 15px 5px;
  }

  .xt-toc {
    display: none;
  }

  .toggle-table--chart {
    margin: 0;
    max-width: 100%;
  }

  // FORMS
  .xt-page-title {
    & > small {
      display: block;
      padding: 3px 0 10px;

      &::before {
        display: none;
      }
    }
  }
  .input-group {
    margin-bottom: 15px;
    width: 100%;

    .tooltipcss {
      display: none;
    }

    input[type=text] {
      border-radius: 0 !important;
    }
  }
  .input-group-addon {
    background: transparent;
    border: 0;
    display: block;
    padding: 0;

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      clear: both;
      padding-top: 5px;
    }
  }

  .error-wrapper {
    padding: 10px;
  }

  .error-mascot--wrapper {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .times-in-utc {
    padding: 0 15px;
  }

  // FIXME: eventually will create a pop-out nav from the right
  // .xt-toc {
  //     @extend .fixed;
  //     @include prefix(transform, initial);
  //     box-shadow: 0px 0px 8px #CCC;
  //     height: 100%;
  //     left: 98%;
  // }

  // .xt-toc.fixed {
  //     @include prefix(transform, initial);
  //     box-shadow: 0px 0px 8px #CCC;
  //     height: 100%;
  //     left: 98%;
  // }
}
