@import 'mixins.scss';
@import 'rtl.scss';

/*** LARGE SCREENS ***/

@media (min-width: $bootstrap-lg) {
  .xt-panel-body table {
    width: auto;
  }
}

@media (max-width: $bootstrap-lg) {
  .stat-list > .table td,
  .stat-list > .table th {
    &:first-child {
      width: 300px;
    }
  }
}

/*** MOBILE SCREENS ***/

@media (max-width: $bootstrap-md) {
  .error-mascot {
    width: 200px;
  }
}

/*** MOBILE SCREENS ****/

@media (max-width: $bootstrap-sm) {
  .basic-info-charts {
    .chart-wrapper {
      display: block !important;

      .chart-legend {
        margin-bottom: 15px;
      }
    }
  }

  .app-footer {
    position: relative;
  }

  .footer-branding {
    float: left !important;
    margin-bottom: 10px;
  }

  .footer-about {
    clear: both;
    display: block;
    max-width: 100%;
  }

  .xt-panel-description {
    display: block;
  }

  .stat-list {
    padding: 0;
  }

  .stat-list > .table td,
  .stat-list > .table th {
    &:first-child {
      display: block;
      padding-top: 5px;
      text-align: left !important;

      &.stat-list--new-group {
        padding-top: 15px !important;
      }
    }
    &:last-child,
    .stat-list--new-group {
      display: block;
      padding-top: 0 !important;
    }
  }

  .stat-list--group {
    padding-top: 15px !important;

    tr > td {
      padding-top: 5px !important;
    }

    & > tr:first-child > td {
      text-align: left !important;
    }
  }

  .back-to-search {
    font-size: 0;

    .glyphicon {
      font-size: initial;
    }
  }

  .tool-links {
    clear: both;
    width: 100%;
  }

  .xt-panel-body {
    padding: 15px 0;
  }

  .panel-default {
    border-radius: 0;
  }

  #wrapper {
    margin: 15px 5px;
  }

  .xt-toc {
    display: none;
  }

  .toggle-table--chart {
    margin: 0;
    max-width: 100%;
  }

  // FORMS
  .xt-page-title {
    & > small {
      display: block;
      padding: 3px 0 10px;

      &::before {
        display: none;
      }
    }
  }
  .input-group {
    margin-bottom: 15px;
    width: 100%;

    .tooltipcss {
      display: none;
    }

    input[type=text] {
      border-radius: 0 !important;
    }
  }
  .input-group-addon {
    background: transparent;
    border: 0;
    display: block;
    padding: 0;

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      clear: both;
      padding-top: 5px;
    }
  }

  .error-wrapper {
    padding: 10px;
  }

  .error-mascot--wrapper {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  .times-in-utc {
    padding: 0 15px;
  }

  // FIXME: eventually will create a pop-out nav from the right
  // .xt-toc {
  //     @extend .fixed;
  //     @include prefix(transform, initial);
  //     box-shadow: 0px 0px 8px #CCC;
  //     height: 100%;
  //     left: 98%;
  // }

  // .xt-toc.fixed {
  //     @include prefix(transform, initial);
  //     box-shadow: 0px 0px 8px #CCC;
  //     height: 100%;
  //     left: 98%;
  // }
}

/*** DARK MODE ***/

@media (prefers-color-scheme: dark) {
  :root {
    scrollbar-color: #333 #000;
  }

  body,
  #wrapper,
  .panel-body,
  .xt-toc {
    color: #ccc;
    background: #000;
  }

  .xt-toc.fixed {
    box-shadow: none;
  }

  .home-link:after,
  [role=separator] {
    display: none;
  }

  .form-label,
  .dropdown-menu {
    background: #222;
  }

  header {
    background: #222 !important;
    border: none !important;
  }

  h4,
  a:hover,
  .typeahead * {
    color: #bbb !important;
  }
  .dropdown-menu a:hover {
    background: #226 !important;
  }

  a {
    color: #09f;
  }

  .navbar-default,
  nav,
  table,
  .panel-primary,
  .panel-default,
  th,
  td,
  .stat-list--group > tr:first-child > td,
  hr {
    border: none !important;
  }

  .form-label,
  .form-control {
    border: 1px solid #222;
  }

  tr,
  td {
    background: #111 !important;
  }

  .open a {
    color: #bbb !important;
    background: #222 !important;
  }

  .blame .diff-context {
    color: #bbb;
  }

  del {
    background: #955 !important;
  }
  ins {
    color: #ddd;
    background: #060 !important;
  }
  .diff strong {
    color: #fff;
  }

  .btn-default,
  .home .tool-list .btn {
    color: #999;
    background: #222;
    border-color: #222;
  }

  .form-label,
  .form-control,
  label {
    color: #999;
  }

  .categoryedits  * {
    background: #000 !important;
  }

  .form-control {
    color: #999;
    background: #111;
  }

  .alert-info {
    color: #999;
    background: #012;
    border: 0;
  }

  canvas,
  .color-icon {
    background: #fff;
    filter: invert(1) hue-rotate(180deg);
  }

}
