# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:              127.0.0.1
    database_port:              ~
    database_name:              symfony
    database_user:              root
    database_password:          ~
    database_replica_user:      root
    database_replica_password:  ~
    database_replica_host_s1:   127.0.0.1
    database_replica_port_s1:   3306
    database_replica_host_s2:   127.0.0.1
    database_replica_port_s2:   3306
    database_replica_host_s3:   127.0.0.1
    database_replica_port_s3:   3306
    database_replica_host_s4:   127.0.0.1
    database_replica_port_s4:   3306
    database_replica_host_s5:   127.0.0.1
    database_replica_port_s5:   3306
    database_replica_host_s6:   127.0.0.1
    database_replica_port_s6:   3306
    database_replica_host_s7:   127.0.0.1
    database_replica_port_s7:   3306
    database_replica_host_s8:   127.0.0.1
    database_replica_port_s8:   3306
    database_toolsdb_host:      127.0.0.1
    database_toolsdb_port:      null

    # Oauth consumer credentials, from https://meta.wikimedia.org/wiki/Special:OAuthConsumerRegistration
    oauth_key:                  ~
    oauth_secret:               ~

    mailer.transport:  smtp
    mailer.host:       127.0.0.1
    mailer.user:       ~
    mailer.password:   ~
    mailer.from_email: foo@example.org
    mailer.to_email:   bar@example.org

    cache.adapter: filesystem
    cache.redis_dsn: 'redis://localhost'

    wiki_url:                   https://en.wikipedia.org
    api_path:                   /w/api.php
    default_project:            en.wikipedia.org
    central_auth_project:       meta.wikimedia.org
    opted_in:                   ['enwiki']

    # A secret key that's used to generate certain security-related tokens, and as the secret for the internal API.
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Code for the display of the notice. notice_display is bool, display or not. notice_style is one of "error",
    # "warning", "succeess", "info". notice_text contains the message shown to the user.
    app.notice_display: false
    app.notice_style:   ""
    app.notice_text:    ""

    app.single_wiki: 1
    app.is_labs: 0

    app.replag_threshold: 30

    app.rate_limit_time: 0
    app.rate_limit_count: 0

    app.query_timeout: 900

    app.max_page_revisions: 50000
    app.max_user_edits: 350000

    # Ignore except for WMF production XTools.
    app.wikiwho.username: ~
    app.wikiwho.password: ~

    # Ignore for any non-WMF installation. This is only meant to convert legacy parameters.
    app.multilingual_wikis: []

    # Enabling or disabling of individual tools
    enable.AdminScore: 1
    enable.AdminStats: 1
    enable.ArticleInfo: 1
    enable.Authorship: 1
    enable.AutoEdits: 1
    enable.Blame: 1
    enable.CategoryEdits: 1
    enable.EditCounter: 1
    enable.EditSummary: 1
    enable.GlobalContribs: 1
    enable.Meta: 1
    enable.Pages: 1
    enable.Quote: 0
    enable.RfXAnalysis: 0
    enable.RfXVoteCalculator: 0
    enable.SimpleEditCounter: 1
    enable.TopEdits: 1
