@import 'mixins.scss';

html {
    height: 100%;
}

body {
    background: url('../images/gradient.png');
    min-height: 100%;
    position: relative;

    /* add spacing for sticky footer */
    &::after {
        content: '';
        display: block;
        min-height: 148px;
    }

    &.rtl {
        @import 'rtl.scss';
    }
}

#wrapper {
    background: white;
    border-radius: 5px;
    margin: 15px;
}

.site-notice {
    margin: 0 15px;
}

.navbar-top {
    border-top: 0;
    min-height: 51px;
    padding: 0;

    li:last-child {
        padding-right: 0;
    }
}
.tool-links {
    float: left;
    padding: 0;

    &.in {
        position: relative;
        top: 8px;
    }

    .nav {
        margin: 0;
    }
}

.nav-buttons {
    left: 1px;
    margin-right: 8px;
    position: relative;
    top: 8px;
}

.navbar-nav > li > a {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

.home-link {
    bottom: 1px;
    padding: 0 12px;
    position: relative;

    &::after {
        background: #e7e7e7;
        bottom: 0;
        content: '';
        display: inline-block;
        height: 80%;
        left: 100%;
        margin: auto;
        position: absolute;
        top: 3px;
        width: 1px;
    }

    img {
        height: 32px;
    }
}

.navbar-toggle {
    left: 5px;
    margin: 0;
    position: relative;
    top: 9px;
}

.lang-group {
    .dropdown-menu {
        max-height: 194px;
        overflow-y: scroll;
    }

    .btn {
        padding-left: 30px;
    }

    svg {
        height: 17px;
        left: 8px;
        position: absolute;
        top: 8px;
        width: 17px;
    }
}

.login-btn .glyphicon-user {
    padding-right: 2px;
    top: 2px;
}

.xt-page-title {
    & > small::before {
        content: '\2022';
        margin-right: 10px;
    }
}

/** TOOLTIPS */
$tooltip-bg: #fff;
$tooltip-border: #ddd;
$tooltip-shadow: #ccc;

.tooltipcss {
    position: static;
    text-decoration: none;

    .tooltip-body {
        @include center('vertical');
        background: $tooltip-bg;
        border: 1px solid $tooltip-border;
        border-radius: 4px;
        box-shadow: 5px 5px 8px $tooltip-shadow;
        color: #111;
        display: none;
        text-align: left;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        line-height: 16px;
        margin-left: 28px;
        min-width: 200px;
        max-width: 350px;
        padding: 14px 20px;
        white-space: normal;
        z-index: 10;
    }
}
.tooltip-body {
    &::after,
    &::before {
        @include prefix(transform, translateY(-50%));
        border-style: solid;
        color: transparent;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: 100%;
        top: 50%;
        width: 0;
    }
    &::before {
        border-color: transparent $tooltip-border transparent transparent;
        border-width: 11px;
    }
    &::after {
        border-color: transparent $tooltip-bg transparent transparent;
        border-width: 10px;
    }
}
.tooltipcss:hover .tooltip-body {
    display: block;
}
.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}

.form-label {
    min-width: 12em;
    text-align: left;
    white-space: normal;
}

.xt-heading-top {
    font-size: 1.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: relative;
}
.xt-heading-subtitle {
    margin-top: 3px;
}
.back-to-search {
    @include center('vertical');
    font-size: 16px;
    left: 0;

    &:hover {
        text-decoration: none;
    }
}
.xt-toc {
    background: white;
    font-size: 110%;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    z-index: 100;

    span::after {
        content: '\A0\2022\A0';
    }
    span:last-child::after {
        content: '';
    }

    .bold {
        font-weight: 500;
    }

    &.fixed {
        @include center('horizontal', 'fixed');
        box-shadow: 5px 5px 8px #CCC;
        margin: 0;
        top: 0;
        width: auto;
        white-space: nowrap;
    }
}
.table-sticky-header {
    position: relative;

    .sticky-heading {
        background: white;
        left: 0;
        position: absolute;
        top: 0;
    }
}
.xt-alert {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.panel-primary > .panel-heading a {
    color: white;
}
section > .panel-body {
    overflow-x: scroll;
}
.panel-body .table:only-child {
    margin-bottom: 0;
}
.xt-panel-body {
    table {
        clear: both;
        white-space: nowrap;
    }

    .panel-body {
        width: 100%;
    }
}
.xt-table > tbody > tr > td {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top;
}
.xt-table > tbody > tr > th {
    font-weight: normal;
    padding: 5px 2px;
    white-space: nowrap;
}
.xt-show {
    display: none;
}
.xt-show,
.xt-hide {
    bottom: 2px;
    cursor: pointer;
    position: relative;

    &:hover {
        text-decoration: underline;
    }
}
.xt-panel-description {
    font-size: 80%;
    font-weight: normal;
    line-height: initial;
}

.inline-block {
    display: inline-block;
}

.table .show-more-row td {
    border: 0;
}

.xt-pagination {
    margin: 0;
}

.panel-primary,
.panel-danger {
    margin-bottom: 0;
}
.panel-default {
    margin-bottom: 0;
    margin-top: 20px;
    text-align: left;

    > .panel-heading {
        padding: 5px 10px;
    }
}

.login {
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMy44MzciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZSI+PHN0b3Agb2Zmc2V0PSIwIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLW9wYWNpdHk9IjAiLz48L2xpbmVhckdyYWRpZW50PjxsaW5lYXJHcmFkaWVudCBpZD0iYiI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjM2I3NGJjIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMmQ1OTkwIi8+PC9saW5lYXJHcmFkaWVudD48bGluZWFyR3JhZGllbnQgaWQ9ImMiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2ZmZiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2M5YzljOSIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJhIj48c3RvcCBvZmZzZXQ9IjAiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3Atb3BhY2l0eT0iMCIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJkIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNmNGQ5YjEiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNkZjk3MjUiLz48L2xpbmVhckdyYWRpZW50PjxyYWRpYWxHcmFkaWVudCBjeD0iMzEuMTEzIiBjeT0iMTkuMDA5IiByPSI4LjY2MiIgZng9IjMxLjExMyIgZnk9IjE5LjAwOSIgaWQ9ImYiIHhsaW5rOmhyZWY9IiNhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIvPjxyYWRpYWxHcmFkaWVudCBjeD0iMjguMDkiIGN5PSIyNy4yMDMiIHI9IjEzLjU2NSIgZng9IjI4LjA5IiBmeT0iMjcuMjAzIiBpZD0iZyIgeGxpbms6aHJlZj0iI2IiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMjk4IDAgMCAuODg1IC04LjM1OSA0Ljk0KSIvPjxsaW5lYXJHcmFkaWVudCB4MT0iMzAuOTM2IiB5MT0iMjkuNTUzIiB4Mj0iMzAuOTM2IiB5Mj0iMzUuODAzIiBpZD0iaCIgeGxpbms6aHJlZj0iI2MiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIi8+PHJhZGlhbEdyYWRpZW50IGN4PSIzMS4xMTMiIGN5PSIxOS4wMDkiIHI9IjguNjYyIiBmeD0iMzEuMTEzIiBmeT0iMTkuMDA5IiBpZD0iaSIgeGxpbms6aHJlZj0iI2EiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIi8+PHJhZGlhbEdyYWRpZW50IGN4PSIyOS4zNDUiIGN5PSIxNy4wNjQiIHI9IjkuMTYyIiBmeD0iMjkuMzQ1IiBmeT0iMTcuMDY0IiBpZD0iaiIgeGxpbms6aHJlZj0iI2QiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KC43ODggMCAwIC43ODggNi4yMjEgMy42MTgpIi8+PGxpbmVhckdyYWRpZW50IHgxPSIyMC42NjIiIHkxPSIzNS44MTgiIHgyPSIyMi42MjciIHkyPSIzNi4yMTgiIGlkPSJrIiB4bGluazpocmVmPSIjZSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoLjk4MyAuMTgyIC0uMTgyIC45ODMgNi4yMzIgLTIuNjUxKSIvPjxsaW5lYXJHcmFkaWVudCB4MT0iMjIuNjg3IiB5MT0iMzYuMzkiIHgyPSIyMS40MDgiIHkyPSIzNS43NCIgaWQ9ImwiIHhsaW5rOmhyZWY9IiNlIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zvcm09Im1hdHJpeCgtLjk3OCAuMjEgLjIxIC45NzggNTUuMTEgLTMuOTQ1KSIvPjwvZGVmcz48ZyBjb2xvcj0iIzAwMCI+PHBhdGggZD0iTTM5Ljc3NSAxOS4wMDlhOC42NjIgOC42NjIgMCAxIDEtMTcuMzI0IDAgOC42NjIgOC42NjIgMCAxIDEgMTcuMzI0IDB6IiB0cmFuc2Zvcm09Im1hdHJpeCguNjkzIDAgMCAuMzc0IC0xNS41NDggMy40ODEpIiBmaWxsPSJ1cmwoI2YpIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PHBhdGggZD0iTTQuMDQ2IDEyLjM5OGg0LjEzN2MxLjE3MiAwIDIuMzMyLS40MyAyLjc1OC0xLjY1NS40MDQtMS4xNjMuMDY5LTMuMzc4LTIuNTUxLTUuMTcxaC00Ljg5NWMtMi42MiAxLjY1NS0yLjk0NyAzLjkxNy0yLjM0NCA1LjI0LjYxNCAxLjM0NyAxLjY1NSAxLjU4NiAyLjg5NiAxLjU4NnoiIGZpbGw9InVybCgjZykiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjMjA0YTg3IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIG92ZXJmbG93PSJ2aXNpYmxlIiBzdHJva2Utd2lkdGg9IjAuMzkiLz48cGF0aCBkPSJNNC4zMjEgNi4xOTNjMS4yNDEgMS4xMDMgMS43OTMgNS4xMDIgMS43OTMgNS4xMDJzLjU1Mi0zLjk5OSAxLjUxNy01LjE3MWwtMy4zMDkuMDY5eiIgZmlsbD0idXJsKCNoKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik01LjIxIDYuNjA3cy0uODM5LjY0OC0uNzY3IDEuNDI4Yy0uNzk2LS43MDItLjgxOS0yLjA0OC0uODE5LTIuMDQ4bDEuNTg2LjYyeiIgZmlsbD0iIzcyOWZjZiIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik00LjAxOCAxMS45OTJsNC4wOTItLjAwOWMxLjAyOSAwIDIuMDQ5LS4zNzcgMi40MjItMS40NTMuMzU1LTEuMDIyLS4wMzctMi45NjctMi4zMzgtNC41NDJsLTQuNDk1LS4wOTVjLTIuMzAxIDEuNDUzLTIuNzQ3IDMuNDQxLTIuMjA4IDQuNjk3LjUzOCAxLjI1NiAxLjMyNCAxLjM5MyAyLjUyNiAxLjQwMXoiIG9wYWNpdHk9Ii4yMTUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBvdmVyZmxvdz0idmlzaWJsZSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIwLjM5Ii8+PHBhdGggZD0iTTYuOTQxIDYuNjA3cy44MzkuNjQ4Ljc2NyAxLjQyOGMuNzk2LS43MDIuODE5LTIuMDQ4LjgxOS0yLjA0OGwtMS41ODYuNjJ6IiBmaWxsPSIjNzI5ZmNmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PHBhdGggZD0iTTM5Ljc3NSAxOS4wMDlhOC42NjIgOC42NjIgMCAxIDEtMTcuMzI0IDAgOC42NjIgOC42NjIgMCAxIDEgMTcuMzI0IDB6IiB0cmFuc2Zvcm09Im1hdHJpeCguMzkgMCAwIC4zOSAtNi4xMzggLTIuNDc1KSIgZmlsbD0idXJsKCNpKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik0zOS43NzUgMTkuMDA5YTguNjYyIDguNjYyIDAgMSAxLTE3LjMyNCAwIDguNjYyIDguNjYyIDAgMSAxIDE3LjMyNCAweiIgZmlsbD0idXJsKCNqKSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2U9IiNjMTdkMTEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgb3ZlcmZsb3c9InZpc2libGUiIHRyYW5zZm9ybT0ibWF0cml4KC4zOSAwIDAgLjM5IC02LjA4OSAtMy44NCkiLz48cGF0aCBkPSJNMzkuNzc1IDE5LjAwOWE4LjY2MiA4LjY2MiAwIDEgMS0xNy4zMjQgMCA4LjY2MiA4LjY2MiAwIDEgMSAxNy4zMjQgMHoiIHRyYW5zZm9ybT0ibWF0cml4KC4zNDIgMCAwIC4zNDIgLTQuNTk4IC0yLjkyOSkiIG9wYWNpdHk9Ii4xOTYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjE0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIG92ZXJmbG93PSJ2aXNpYmxlIiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTIuNDMzIDEyLjA2MmMtLjQ4Ny0uMjEzLS43MDQtLjcyNS0uNzA0LS43MjUuMzI4LTEuNTg3IDEuNDUxLTIuNzQ4IDEuNDUxLTIuNzQ4cy0uODg5IDIuNS0uNzQ2IDMuNDczeiIgb3BhY2l0eT0iLjIyOCIgZmlsbD0idXJsKCNrKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik05LjgwNiAxMS43MjhjLjQ4LS4yMjcuNzA0LS43ODEuNzA0LS43ODEtLjM3NC0xLjU3Ny0xLjU1MS0yLjY2OS0xLjU1MS0yLjY2OXMuOTYxIDIuNDc0Ljg0NyAzLjQ1eiIgb3BhY2l0eT0iLjIyOCIgZmlsbD0idXJsKCNsKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjwvZz48L3N2Zz4=");
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 1.125em;
    margin-top: 0.5em;
    padding-left: 15px !important;
    white-space: nowrap;
}

.app-footer {
    bottom: 0;
    left: 0;
    margin-top: 30px;
    min-height: 148px;
    padding: 15px;
    position: absolute;
    width: 100%;

    hr {
        margin-bottom: 0;
    }
}

.footer-content {
    padding-top: 20px;
}

.footer-about {
    display: inline;
    max-width: calc(100% - 200px);
}

.footer-branding {
    white-space: nowrap;
}

.footer-quote {
    display: inline-block;
    font-style: italic;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lang-dropdown .dropdown-menu {
    height: 194px;
    overflow-y: scroll;
}

.navbar-default {
    background: transparent;
}

.form-fieldset {
    margin-bottom: 15px;
}

.form-submit {
    margin-bottom: 20px;
}

.form-row {
    > * {
        border-radius: 0;
    }

    .input-group-addon label {
        font-weight: normal;
        margin: 0;
    }

    &:first-child > *:first-child {
        border-top-left-radius: 4px;
    }
    &:first-child > *:last-child {
        border-top-right-radius: 4px;
    }
    &:last-child > *:first-child {
        border-bottom-left-radius: 4px;
    }
    // Use .form-control:last-of-type to account for
    //   typeahead DOM element at bottom of form
    &:last-child > .form-control:last-of-type {
        border-bottom-right-radius: 4px;
    }
}

.form-control[readonly],
.form-control[disabled] {
    background-color: transparent;
    cursor: not-allowed;
    opacity: 0.8;
}

input.form-control.show-loader {
    background: url("../images/loader.gif") no-repeat right 5px center;
}

.stat-list {
    margin-bottom: 20px;

    caption {
        text-align: center;
    }
}

.panel-body .stat-list:only-child {
    margin-bottom: 0;
}

.stat-list > .table td,
.stat-list > .table th {
    border: 0;
    padding-bottom: 0;
    padding-top: 0;
    white-space: normal;

    &:first-child {
        font-weight: bold;
        text-align: right;
        white-space: nowrap;

        &::after {
            content: ':';
        }
    }
}

.stat-list--new-group {
    padding-top: 10px !important;
}

.stat-list--group {
    border-top: 0 !important;

    & > tr:first-child > td {
        border-bottom: solid 1px #eee !important;
        padding-top: 15px !important;
        text-align: center !important;
    }

    & > tr:nth-child(2) > td {
        padding-top: 5px !important;
    }
}

.color-icon {
    border-radius: 100%;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: -2px;
}

.diff-pos {
    color: $diff-pos;

    &::before {
        color: $diff-pos;
        content: '+';
    }
}
.diff-neg {
    color: $diff-neg;
}
.diff-zero {
    color: $diff-zero;
}

.sort-link {
    @include prefix(user-select, none);
    cursor: pointer;

    .glyphicon {
        top: 2px;
        visibility: hidden;
    }

    .glyphicon-sort-by-alphabet,
    .glyphicon-sort-by-alphabet-alt {
        visibility: visible;
    }

    &:hover {
        .glyphicon-sort {
            visibility: visible;
        }
    }
}

.assessment-badge {
    height: 20px;
    width: 20px;
}

.comma-separated {
    &::after {
        content: ',';
    }
    &:last-child::after {
        content: '';
    }
}

.rm-inline-margin {
    margin-right: -4px;
}
.rm-inline-margin-left {
    margin-left: -4px;
}

// See pages/result.html.twig for example usage
.toggle-table {
    float: left;

    .toggle-table--toggle {
        cursor: pointer;
        margin-right: 4px;
        position: relative;
    }

    tr:hover .toggle-table--toggle {
        .color-icon {
            visibility: hidden;
        }

        .glyphicon {
            display: block;
        }
    }

    tr.excluded {
        td.linked a,
        td:not(.linked) {
            opacity: 0.5;
            text-decoration: line-through;
        }

        .color-icon {
            opacity: 0.5;
        }
    }

    td .glyphicon {
        display: none;
        left: 1px;
        position: absolute;
    }
}

.toggle-table--chart {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    max-width: 500px;

    canvas {
        height: 400px;
        width: 400px;
    }
}

.basic-info-charts {
    clear: both;
    display: block;
    padding-top: 20px;
    position: relative;

    canvas {
        max-width: 150px;
    }

    .chart-wrapper {
        display: flex;
        float: left;
        margin-right: 50px;
    }

    .chart-legend {
        align-self: center;
        margin-left: 15px;

        .color-icon {
            vertical-align: -4px;
        }
    }
}

// Don't let fonts in display titles get too big
.display-title * {
    font-size: inherit !important;
}

.error-wrapper {
    font-size: 18px;

    p {
        margin-bottom: 30px;
    }
}

.error-mascot {
    margin-right: 30px;
    max-width: 100%;
    width: 300px;
}

.times-in-utc {
    margin-top: 15px;
}

@media (min-width: $bootstrap-lg) {
    .xt-panel-body table {
        width: auto;
    }
}

@media (max-width: $bootstrap-lg) {
    .stat-list > .table td,
    .stat-list > .table th {
        &:first-child {
            width: 300px;
        }
    }
}

@media (max-width: $bootstrap-md) {
    .error-mascot {
        width: 200px;
    }
}

@media (max-width: $bootstrap-sm) {
    .basic-info-charts {
        .chart-wrapper {
            display: block !important;

            .chart-legend {
                margin-bottom: 15px;
            }
        }
    }

    .app-footer {
        position: relative;
    }

    .footer-branding {
        float: left !important;
        margin-bottom: 10px;
    }

    .footer-about {
        clear: both;
        display: block;
        max-width: 100%;
    }

    .xt-panel-description {
        display: block;
        float: none !important;
        margin-top: 5px;
    }

    .stat-list {
        padding: 0;
    }

    .stat-list > .table td,
    .stat-list > .table th {
        &:first-child {
            display: block;
            padding-top: 5px;
            text-align: left;

            &.stat-list--new-group {
                padding-top: 15px !important;
            }
        }
        &:last-child,
        .stat-list--new-group {
            display: block;
            padding-top: 0 !important;
        }
    }

    .stat-list--group {
        padding-top: 15px !important;

        tr > td {
            padding-top: 5px !important;
        }

        & > tr:first-child > td {
            text-align: left !important;
        }
    }

    .back-to-search {
        font-size: 0;

        .glyphicon {
            font-size: initial;
        }
    }

    .tool-links {
        clear: both;
        width: 100%;
    }

    .xt-panel-body {
        padding: 15px 0;
    }

    .panel-default {
        border-radius: 0;
    }

    #wrapper {
        margin: 15px 5px;
    }

    .xt-toc {
        display: none;
    }

    .toggle-table--chart {
        margin: 0;
        max-width: 100%;
    }

    // FORMS
    .xt-page-title {
        & > small {
            display: block;
            padding: 3px 0 10px;

            &::before {
                display: none;
            }
        }
    }
    .input-group {
        margin-bottom: 15px;
        width: 100%;

        .tooltipcss {
            display: none;
        }

        input[type=text] {
            border-radius: 0 !important;
        }
    }
    .input-group-addon {
        background: transparent;
        border: 0;
        display: block;
        padding: 0;

        &:first-child {
            font-weight: bold;
        }

        &:last-child {
            clear: both;
            padding-top: 5px;
        }
    }

    .error-wrapper {
        padding: 10px;
    }

    .error-mascot--wrapper {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .times-in-utc {
        padding: 0 15px;
    }

    // FIXME: eventually will create a pop-out nav from the right
    // .xt-toc {
    //     @extend .fixed;
    //     @include prefix(transform, initial);
    //     box-shadow: 0px 0px 8px #CCC;
    //     height: 100%;
    //     left: 98%;
    // }

    // .xt-toc.fixed {
    //     @include prefix(transform, initial);
    //     box-shadow: 0px 0px 8px #CCC;
    //     height: 100%;
    //     left: 98%;
    // }
}
