@import 'mixins.scss';

.articleinfo {
    .basic-info-charts {
        clear: both;
        display: block;
        position: relative;

        canvas {
            max-width: 150px;
        }
    }

    .top-editors-charts {
        display: block;
        margin-bottom: 25px;
        position: relative;

        canvas {
            max-height: 250px;
            max-width: 250px;
        }
    }

    .year-count-charts {
        clear: both;
        display: block;
        margin-bottom: 25px;
        position: relative;

        canvas {
            max-width: 800px;
        }
    }

    .chart-wrapper {
        display: flex;
        float: left;
        margin-right: 50px;
    }

    .chart-title {
        font-weight: bold;
        text-align: center;
    }

    .chart-legend {
        align-self: center;
        margin-left: 15px;

        .color-icon {
            margin-right: 5px;
            vertical-align: -2px;
        }
    }

    .legend-label {
        display: inline-block;
        max-width: 200px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .top-editors-table {
        margin-bottom: 0;
    }

    .show-more-row td {
        border: 0;
    }

    .footnotes {
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .month-counts-table {
        .stripes-column {
            // effectively sets a min-height, but allows .strips to have percentage height
            height: 30px;
            padding: 0;
        }

        .color-icon {
            vertical-align: -2px;
        }

        .stripes {
            height: calc(100% / 3);
        }
    }
}

@media (max-width: $bootstrap-sm) {
    .articleinfo {
        .chart-wrapper {
            display: block;

            .chart-legend {
                margin-bottom: 15px;
            }
        }
    }
}
