@import 'mixins.scss';

.autoedits {
    #summary .chart-wrapper {
        margin-left: 50px;
        max-width: 200px;

        canvas {
            max-width: 200px;
        }

        .chart-legend {
            display: none;
        }
    }

    .non-auto-edits-nav {
        margin-bottom: 10px;
    }

    .prev-edits {
        display: none;
    }
}
