@import 'mixins.scss';

.ec {
    .stat-list .table {
        margin: 0 auto;
    }

    .stat-list--empty-group {
        font-weight: normal !important;

        &::after {
            content: '' !important;
        }
    }

    #timecard-bubble-chart,
    #yearcounts-canvas,
    #monthcounts-canvas {
        max-width: 1000px;
    }

    .top-project-edit-counts td {
        white-space: nowrap;
    }

    .footnotes {
        clear: both;
        padding-top: 20px;
    }

    .tooltipcss--pages-created {
        position: relative;
        vertical-align: -1px;

        &:hover {
            text-decoration: none;
        }

        .tooltip-body {
            min-width: 300px;
        }
    }
}
