@import 'mixins.scss';

.ec {
    .stat-list .table {
        margin: 0 auto;
    }

    .stat-list--empty-group {
        font-weight: normal !important;

        &::after {
            content: '' !important;
        }
    }

    .top-project-edit-counts td {
        white-space: nowrap;
    }

    .basic-info-charts {
        clear: both;
        display: block;
        padding-top: 20px;
        position: relative;

        canvas {
            max-width: 150px;
        }

        .chart-wrapper {
            display: flex;
            float: left;
            margin-right: 50px;
        }

        .chart-legend {
            align-self: center;
            margin-left: 15px;

            .color-icon {
                vertical-align: -4px;
            }
        }
    }
}
