@import 'mixins.scss';

.home {
    #wrapper {
        background: transparent;
    }

    .splash-logo {
        margin: 20px 0 10px;
        width: 500px;
    }

    .tool-list {
        padding-top: 10px;
        text-align: left;

        .btn {
            display: block;
            height: 65px;
            line-height: 51px;
            margin-top: 15px;
            overflow: hidden;
            padding-left: 70px;
            position: relative;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        img {
            @include center('vertical');
            left: 12px;
            width: 50px;
        }
    }
}

@media (max-width: $bootstrap-sm) {
    .home {
        .splash-logo {
            max-width: 450px;
            width: 90%;
        }
    }
}
