@import 'mixins.scss';

.pages {
    .top-editors-table {
        float: left;
    }

    .chart-wrapper {
        float: left;
        margin-left: 100px;
        margin-top: 20px;
        width: 300px;
    }
}
