body {
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 4px 1em 4px 1em;
}
a{
  text-decoration:none;
}
#wrap{
  margin:0 auto;
  text-align:left;
  width:96%;
}
#header {
  padding: 0px 20px 4px 20px;
  color: #000033;
}
#content {
  padding: 20px 20px 4px 20px;
  background-color: #D0E4EE;

  background-image: url("//tools.wmflabs.org/newwebtest/static/images/gradient.png");
  background-repeat:repeat-x;


  background-image: -webkit-linear-gradient(top, #eeeeee, #dee5f9);
  background-image:    -moz-linear-gradient(top, #eeeeee, #dee5f9);
  background-image:     -ms-linear-gradient(top, #eeeeee, #d0e4ee);
  background-image:      -o-linear-gradient(top, #eeeeee, #d0e4ee);
  background-image:         linear-gradient(to bottom, #eeeeee, #dee5f9);

  border-radius:5px;
  /*http://patorjk.com/gradient-image-generator/*/
  text-rendering: optimizelegibility;

}
#footer {
  padding: 0px 20px 20px 20px;
  height: 40px;
  background-color: #EAEAEA;

  background-image: -webkit-linear-gradient(left, #eeeeee, #dee5f9); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(left, #eeeeee, #dee5f9); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(left, #eeeeee, #dee5f9); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(left, #eeeeee, #dee5f9); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to right, #eeeeee, #dee5f9); /* Standard syntax; must be last */


  color: rgb(34,34,34);
  valign: top;
  border-top: none;
  border-radius:5px;
}
.footertext {
  //margin: auto 0;
  //vertical-align: 50%;
}
h2 {
  border-bottom: 2px solid #aaaaaa;
}
h3 {
  border-bottom: 2px solid #aaaaaa;
}
h4 {
  font-size:1.5em;
  border-bottom: 2px solid #aaaaaa;
}
#nav {
  font-size: 75%
  text-align: center;
  border-bottom: 2px solid #aaaaaa;
}
.container
{
  text-align:center;
}
.center
{
  margin-left:auto;
  margin-right:auto;
}
img {
  border: none;
}
.login{
  background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMy44MzciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZSI+PHN0b3Agb2Zmc2V0PSIwIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLW9wYWNpdHk9IjAiLz48L2xpbmVhckdyYWRpZW50PjxsaW5lYXJHcmFkaWVudCBpZD0iYiI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjM2I3NGJjIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMmQ1OTkwIi8+PC9saW5lYXJHcmFkaWVudD48bGluZWFyR3JhZGllbnQgaWQ9ImMiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2ZmZiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2M5YzljOSIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJhIj48c3RvcCBvZmZzZXQ9IjAiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3Atb3BhY2l0eT0iMCIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJkIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNmNGQ5YjEiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNkZjk3MjUiLz48L2xpbmVhckdyYWRpZW50PjxyYWRpYWxHcmFkaWVudCBjeD0iMzEuMTEzIiBjeT0iMTkuMDA5IiByPSI4LjY2MiIgZng9IjMxLjExMyIgZnk9IjE5LjAwOSIgaWQ9ImYiIHhsaW5rOmhyZWY9IiNhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIvPjxyYWRpYWxHcmFkaWVudCBjeD0iMjguMDkiIGN5PSIyNy4yMDMiIHI9IjEzLjU2NSIgZng9IjI4LjA5IiBmeT0iMjcuMjAzIiBpZD0iZyIgeGxpbms6aHJlZj0iI2IiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMjk4IDAgMCAuODg1IC04LjM1OSA0Ljk0KSIvPjxsaW5lYXJHcmFkaWVudCB4MT0iMzAuOTM2IiB5MT0iMjkuNTUzIiB4Mj0iMzAuOTM2IiB5Mj0iMzUuODAzIiBpZD0iaCIgeGxpbms6aHJlZj0iI2MiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIi8+PHJhZGlhbEdyYWRpZW50IGN4PSIzMS4xMTMiIGN5PSIxOS4wMDkiIHI9IjguNjYyIiBmeD0iMzEuMTEzIiBmeT0iMTkuMDA5IiBpZD0iaSIgeGxpbms6aHJlZj0iI2EiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIi8+PHJhZGlhbEdyYWRpZW50IGN4PSIyOS4zNDUiIGN5PSIxNy4wNjQiIHI9IjkuMTYyIiBmeD0iMjkuMzQ1IiBmeT0iMTcuMDY0IiBpZD0iaiIgeGxpbms6aHJlZj0iI2QiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KC43ODggMCAwIC43ODggNi4yMjEgMy42MTgpIi8+PGxpbmVhckdyYWRpZW50IHgxPSIyMC42NjIiIHkxPSIzNS44MTgiIHgyPSIyMi42MjciIHkyPSIzNi4yMTgiIGlkPSJrIiB4bGluazpocmVmPSIjZSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoLjk4MyAuMTgyIC0uMTgyIC45ODMgNi4yMzIgLTIuNjUxKSIvPjxsaW5lYXJHcmFkaWVudCB4MT0iMjIuNjg3IiB5MT0iMzYuMzkiIHgyPSIyMS40MDgiIHkyPSIzNS43NCIgaWQ9ImwiIHhsaW5rOmhyZWY9IiNlIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zvcm09Im1hdHJpeCgtLjk3OCAuMjEgLjIxIC45NzggNTUuMTEgLTMuOTQ1KSIvPjwvZGVmcz48ZyBjb2xvcj0iIzAwMCI+PHBhdGggZD0iTTM5Ljc3NSAxOS4wMDlhOC42NjIgOC42NjIgMCAxIDEtMTcuMzI0IDAgOC42NjIgOC42NjIgMCAxIDEgMTcuMzI0IDB6IiB0cmFuc2Zvcm09Im1hdHJpeCguNjkzIDAgMCAuMzc0IC0xNS41NDggMy40ODEpIiBmaWxsPSJ1cmwoI2YpIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PHBhdGggZD0iTTQuMDQ2IDEyLjM5OGg0LjEzN2MxLjE3MiAwIDIuMzMyLS40MyAyLjc1OC0xLjY1NS40MDQtMS4xNjMuMDY5LTMuMzc4LTIuNTUxLTUuMTcxaC00Ljg5NWMtMi42MiAxLjY1NS0yLjk0NyAzLjkxNy0yLjM0NCA1LjI0LjYxNCAxLjM0NyAxLjY1NSAxLjU4NiAyLjg5NiAxLjU4NnoiIGZpbGw9InVybCgjZykiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjMjA0YTg3IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIG92ZXJmbG93PSJ2aXNpYmxlIiBzdHJva2Utd2lkdGg9IjAuMzkiLz48cGF0aCBkPSJNNC4zMjEgNi4xOTNjMS4yNDEgMS4xMDMgMS43OTMgNS4xMDIgMS43OTMgNS4xMDJzLjU1Mi0zLjk5OSAxLjUxNy01LjE3MWwtMy4zMDkuMDY5eiIgZmlsbD0idXJsKCNoKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik01LjIxIDYuNjA3cy0uODM5LjY0OC0uNzY3IDEuNDI4Yy0uNzk2LS43MDItLjgxOS0yLjA0OC0uODE5LTIuMDQ4bDEuNTg2LjYyeiIgZmlsbD0iIzcyOWZjZiIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik00LjAxOCAxMS45OTJsNC4wOTItLjAwOWMxLjAyOSAwIDIuMDQ5LS4zNzcgMi40MjItMS40NTMuMzU1LTEuMDIyLS4wMzctMi45NjctMi4zMzgtNC41NDJsLTQuNDk1LS4wOTVjLTIuMzAxIDEuNDUzLTIuNzQ3IDMuNDQxLTIuMjA4IDQuNjk3LjUzOCAxLjI1NiAxLjMyNCAxLjM5MyAyLjUyNiAxLjQwMXoiIG9wYWNpdHk9Ii4yMTUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBvdmVyZmxvdz0idmlzaWJsZSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIwLjM5Ii8+PHBhdGggZD0iTTYuOTQxIDYuNjA3cy44MzkuNjQ4Ljc2NyAxLjQyOGMuNzk2LS43MDIuODE5LTIuMDQ4LjgxOS0yLjA0OGwtMS41ODYuNjJ6IiBmaWxsPSIjNzI5ZmNmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PHBhdGggZD0iTTM5Ljc3NSAxOS4wMDlhOC42NjIgOC42NjIgMCAxIDEtMTcuMzI0IDAgOC42NjIgOC42NjIgMCAxIDEgMTcuMzI0IDB6IiB0cmFuc2Zvcm09Im1hdHJpeCguMzkgMCAwIC4zOSAtNi4xMzggLTIuNDc1KSIgZmlsbD0idXJsKCNpKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik0zOS43NzUgMTkuMDA5YTguNjYyIDguNjYyIDAgMSAxLTE3LjMyNCAwIDguNjYyIDguNjYyIDAgMSAxIDE3LjMyNCAweiIgZmlsbD0idXJsKCNqKSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2U9IiNjMTdkMTEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgb3ZlcmZsb3c9InZpc2libGUiIHRyYW5zZm9ybT0ibWF0cml4KC4zOSAwIDAgLjM5IC02LjA4OSAtMy44NCkiLz48cGF0aCBkPSJNMzkuNzc1IDE5LjAwOWE4LjY2MiA4LjY2MiAwIDEgMS0xNy4zMjQgMCA4LjY2MiA4LjY2MiAwIDEgMSAxNy4zMjQgMHoiIHRyYW5zZm9ybT0ibWF0cml4KC4zNDIgMCAwIC4zNDIgLTQuNTk4IC0yLjkyOSkiIG9wYWNpdHk9Ii4xOTYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjE0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIG92ZXJmbG93PSJ2aXNpYmxlIiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTIuNDMzIDEyLjA2MmMtLjQ4Ny0uMjEzLS43MDQtLjcyNS0uNzA0LS43MjUuMzI4LTEuNTg3IDEuNDUxLTIuNzQ4IDEuNDUxLTIuNzQ4cy0uODg5IDIuNS0uNzQ2IDMuNDczeiIgb3BhY2l0eT0iLjIyOCIgZmlsbD0idXJsKCNrKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik05LjgwNiAxMS43MjhjLjQ4LS4yMjcuNzA0LS43ODEuNzA0LS43ODEtLjM3NC0xLjU3Ny0xLjU1MS0yLjY2OS0xLjU1MS0yLjY2OXMuOTYxIDIuNDc0Ljg0NyAzLjQ1eiIgb3BhY2l0eT0iLjIyOCIgZmlsbD0idXJsKCNsKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjwvZz48L3N2Zz4=");
  padding-left: 15px !important;
  background-position: left center;
  background-repeat: no-repeat;
  line-height: 1.125em;
  margin-left: 0.75em;
  margin-top: 0.5em;
  white-space: nowrap;
}
.statuslink{
  float:right;
}
.alert {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius:4px;
  text-align:center;
  font-size:120%;
  padding:0.2em 0.4em;
  font-weight:bold;
  text-rendering: optimizelegibility;
}
.notice {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius:4px;
  text-align:center;
  font-size:100%;
  padding:0.2em 0.4em 0.4em 0.4em;
  //font-weight:bold;
  margin: 0.5em 1em 0.8em 1em;
  vertical-align;
  text-rendering: optimizelegibility;
}
input[type=text], select{
  border-width:1px;
  border-color:lightgrey;
  border-style:solid;
  background-color:#f1f1f1;
  padding:1px;
  font-size:13px;
}
,input[type=submit]{
  font-size:13px;
  padding:2px;
}
div.bar {
  height: 10px;
}
div.outer_bar {
  border: 1px solid #444;
  float: left;
  //margin: .3em 0;
  font-size:70%;
  height:10px;
  _width:0;   /* MSIE underscore hack */
}
.showhide{
  padding-left:5px;
  font-size:75%;
  font-weight:normal;
  color:#00E;
  cursor:pointer;
}
.caption{
  text-align:center;
  font-weight:bold;
  margin-top:1em;
  margin-bottom:-1.8em
}
.caption p{
  margin-bottom:0px;
  margin-top: 5px;
  font-weight:normal;
  font-size: 80%;
}
.topcaption{
  margin-top: 0px !important;
}
.panel-default{
  text-align:left;
}
.xt-panel-body-top > p{
  padding: 2px;
  margin:0px 0px -20px 0px;
}
.xt-heading-top{
  font-size:1.8em;
  padding-bottom: 5px;
  margin-bottom:0px;
}
.col{
  display:inline-block;
  vertical-align:top;
  padding-right:40px;
}
table.months {
  padding-top: 0.8em;
}
.monthsep{
  height: 1.2em;
}
td.date {
  padding: 0 1em 0 0;
  font-weight: bold;
}
table.months td {
  font-size: 85%;
  //height:10px;
}
.tdnum{
  text-align:right;
  padding-right:8px;
}
.tddate{
  padding-left:8px;
}
.tdgeneral{
  display:inline-block;
  width:60px;
  text-align:right;
}
.tdtop1{
  padding-left:20px;
}
div.red, div.green {
  height:1em;
  float:left;
}

div.topN {
  float: left;
  min-height: 30em;           /* otherwise, they get ALL jumbled up */
}
table.topN {
  float: left;
  border: 1px solid black;
}
table.topN th {
  background-color: #000;
  color: #fff;
}
table.topN td {
  padding: .1em .3em;
}
.leantable th, .leantable2 th {
  font-weight:normal;
  border-bottom: 1px #aaa solid;
  padding:3px 5px;
  text-align:center;
  white-space:nowrap;

}
.leantable2 th a{
  color:black;
}
.leantable2 td {
  font-weight:normal;
  border-right: 1px silver solid;
  border-left: 1px silver solid;
  padding: 1px 5px;
}
.wikitable, .prettytable, .leantable2 {
    margin: 1em 1em 1em 0;
    border-collapse:collapse;
}
.wikitable th, .prettytable th  {
  border: 1px #aaa solid;
    padding: 0.2em 0.5em 0.5em 0.5em;
}
.wikitable td,  .prettytable td{
    padding: 0.2em 0.5em ;
    border-right: 1px solid silver;
}
.wikitable tr, .prettytable tr, .leantable2 tr {
  border: 1px silver solid;
}

.legendicon{
  display: inline-block;
  height: 10px;
  width: 5px;
  padding: 0px 5px;
  border-radius: 2px;
}
.dup {font-weight:bold;color:red}
.iffy1 {font-style:italic}
.iffy2 {text-decoration:underline}

#popup {
  /* Necessary: */
  position: absolute;
  display: none;
  z-index: 10;

  /* Additional styling: */
  //width: 200px;
  font-size: 80%;
  background-color: #eee;
  border: 1px dotted #ece;
  opacity: .90;
  /* filter: alpha(opacity=90); */
}
