/**
 * XTools ArticleInfo gadget
 * Based on meta.wikimedia.org/wiki/User:Hedonil/XTools
 * Documentation: mediawiki.org/wiki/XTools
 * Released under GPL v3 license
 */
$(function () {
    if (mw.config.get('wgArticleId') === 0 || // no deleted articles, no special pages
            mw.config.get('wgCurRevisionId') !== mw.config.get('wgRevisionId') || // only current revision
            mw.config.get('wgAction') !== 'view') { // only when viewing a page, not editing
        return;
    }

    var markup = "<div id='xtools' style='font-size:84%; line-height:1.2em;" +
        "width:auto;'><span id='xtools_result'>.</span></div>";
    $(markup).insertBefore('#contentSub');

    var loadinganimation = window.setInterval(function () {
        if ($('#xtools_result').html() === '.&nbsp;&nbsp;') {
            $('#xtools_result').html('&nbsp;.&nbsp;');
        } else if ($('#xtools_result').html() === '&nbsp;.&nbsp;') {
            $('#xtools_result').html('&nbsp;&nbsp;.');
        } else {
            $('#xtools_result').html('.&nbsp;&nbsp;');
        }
    }, 300);

    $.get(
        '{{ app.request.getSchemeAndHttpHost()|raw }}' +
        '/api/page/articleinfo/' +
        mw.config.get('wgServerName') + '/' +
        mw.config.get('wgPageName').replace(/["?%&+]/g, escape) + '?format=html' +
        '&uselang=' + mw.config.get('wgUserLanguage')
    ).done(function (result) {
        $('#xtools_result').html(result);
        clearInterval(loadinganimation);
    });
});
