{% extends 'base.html.twig' %}
{% import 'macros/forms.html.twig' as forms %}

{% block body %}
    <form class="col-lg-8 col-lg-offset-2" action="{{ path("articleinfo") }}" method="get" accept-charset="utf-8" >
        <fieldset class="form-fieldset">
            {{ forms.wiki_input(project) }}
            {{ forms.page_input(true, project) }}
        </fieldset>
        {{ forms.submit_btn }}
    </form>
{% endblock %}
