html {
    height: 100%;
}

body {
    background: url('gradient.png');
    min-height: 100%;
    position: relative;
}

#wrapper {
    background: white;
    border-radius: 5px;
    margin: 15px;
}

.site-notice {
    margin: 0 10px;
}

.tooltipcss {
    position: inherit;
}

.tooltipcss .tooltip-body {
    background: #FFFAF0;
    border: 1px solid #DCA;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
    color: #111;
    display: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 16px;
    margin-left: 28px;
    max-width: 350px;
    padding: 14px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    white-space: normal;
    z-index: 10;
}
.tooltip-body::after,
.tooltip-body::before {
    border-style: solid;
    color: transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 0;
}
.tooltip-body::before {
    border-color: transparent #DCA transparent transparent;
    border-width: 11px;
}
.tooltip-body::after {
    border-color: transparent #FFFAF0 transparent transparent;
    border-width: 10px;
}
.tooltipcss:hover .tooltip-body {
    display: block;
}
.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}

.form-label {
    min-width: 12em;
    text-align: left;
}
.showhide {
    font-size: small;
    color: rgb(153, 153, 153);
}
.showhide:hover {
    cursor: pointer;
    text-decoration: underline;
}
.navbar-nav > li > a, .navbar-header > a {
    padding: 10px;
}
.col {
    display: inline-block;
    padding: 20px 60px 0px 15px;
    vertical-align: top;
}
.xt-heading-top {
    font-size: 1.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.xt-alert {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.panel-primary > .panel-heading > p > a {
    color: white;
}
.xt-panel-body-top {
    padding: 8px;
    margin-bottom: 5px;
}
.xt-table > tbody > tr > td {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: top;
}
.xt-table > tbody > tr > th {
    font-weight: normal;
    padding: 5px 2px;
    white-space: nowrap;
}
.xt-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight:bold;
    color: rgb(255, 255, 255);
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: rgb(210,210,210);
    border-radius: 2px;
    cursor: pointer
}
.xt-badge > div {
    display: none;
    text-align: left;
    top: 20px;
    left: 10px;
}
.xt-badge:hover > div {
    display: block;
}
.xt-badge-unread {
    background-color: rgb(204,0,0);
}

.tdnum {
    text-align: right;
    padding-right: 8px;
}
.tddate {
    font-size: 90%;
    padding-left: 8px;
    color: rgb(34,34,34);
    white-space: nowrap;
}
.tdtitle {
    max-width: 400px;
}
.tdrevtext {
    max-width: 30%;
    font-size: 85%;
    word-wrap: break-word;
}
.break {
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-line;
}
.tdgeneral {
    display: inline-block;
    min-width: 55px;
    text-align: right;
}
.panel-default {
    text-align: left;
}
.panel-default > .panel-heading {
    padding: 5px 10px;
}
div.bar {
    height: 10px;
}
.legendicon {
    display: inline-block;
    height: 10px;
    width: 5px;
    padding: 0px 5px;
    border-radius: 2px;
}
.monthsep {
    height: 1.2em;
}
div.outer_bar {
    border: 1px solid #444;
    float: left;
    font-size: 70%;
    height: 10px;
    _width: 0;
}
.dup {
    font-weight: bold;
    color: red;
}
.iffy1 {
    font-style: italic;
}
.iffy2 {
    text-decoration: underline;
}
.login {
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMy44MzciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZSI+PHN0b3Agb2Zmc2V0PSIwIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLW9wYWNpdHk9IjAiLz48L2xpbmVhckdyYWRpZW50PjxsaW5lYXJHcmFkaWVudCBpZD0iYiI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjM2I3NGJjIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMmQ1OTkwIi8+PC9saW5lYXJHcmFkaWVudD48bGluZWFyR3JhZGllbnQgaWQ9ImMiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2ZmZiIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2M5YzljOSIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJhIj48c3RvcCBvZmZzZXQ9IjAiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3Atb3BhY2l0eT0iMCIvPjwvbGluZWFyR3JhZGllbnQ+PGxpbmVhckdyYWRpZW50IGlkPSJkIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNmNGQ5YjEiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNkZjk3MjUiLz48L2xpbmVhckdyYWRpZW50PjxyYWRpYWxHcmFkaWVudCBjeD0iMzEuMTEzIiBjeT0iMTkuMDA5IiByPSI4LjY2MiIgZng9IjMxLjExMyIgZnk9IjE5LjAwOSIgaWQ9ImYiIHhsaW5rOmhyZWY9IiNhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIvPjxyYWRpYWxHcmFkaWVudCBjeD0iMjguMDkiIGN5PSIyNy4yMDMiIHI9IjEzLjU2NSIgZng9IjI4LjA5IiBmeT0iMjcuMjAzIiBpZD0iZyIgeGxpbms6aHJlZj0iI2IiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEuMjk4IDAgMCAuODg1IC04LjM1OSA0Ljk0KSIvPjxsaW5lYXJHcmFkaWVudCB4MT0iMzAuOTM2IiB5MT0iMjkuNTUzIiB4Mj0iMzAuOTM2IiB5Mj0iMzUuODAzIiBpZD0iaCIgeGxpbms6aHJlZj0iI2MiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIi8+PHJhZGlhbEdyYWRpZW50IGN4PSIzMS4xMTMiIGN5PSIxOS4wMDkiIHI9IjguNjYyIiBmeD0iMzEuMTEzIiBmeT0iMTkuMDA5IiBpZD0iaSIgeGxpbms6aHJlZj0iI2EiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIi8+PHJhZGlhbEdyYWRpZW50IGN4PSIyOS4zNDUiIGN5PSIxNy4wNjQiIHI9IjkuMTYyIiBmeD0iMjkuMzQ1IiBmeT0iMTcuMDY0IiBpZD0iaiIgeGxpbms6aHJlZj0iI2QiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KC43ODggMCAwIC43ODggNi4yMjEgMy42MTgpIi8+PGxpbmVhckdyYWRpZW50IHgxPSIyMC42NjIiIHkxPSIzNS44MTgiIHgyPSIyMi42MjciIHkyPSIzNi4yMTgiIGlkPSJrIiB4bGluazpocmVmPSIjZSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoLjk4MyAuMTgyIC0uMTgyIC45ODMgNi4yMzIgLTIuNjUxKSIvPjxsaW5lYXJHcmFkaWVudCB4MT0iMjIuNjg3IiB5MT0iMzYuMzkiIHgyPSIyMS40MDgiIHkyPSIzNS43NCIgaWQ9ImwiIHhsaW5rOmhyZWY9IiNlIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zvcm09Im1hdHJpeCgtLjk3OCAuMjEgLjIxIC45NzggNTUuMTEgLTMuOTQ1KSIvPjwvZGVmcz48ZyBjb2xvcj0iIzAwMCI+PHBhdGggZD0iTTM5Ljc3NSAxOS4wMDlhOC42NjIgOC42NjIgMCAxIDEtMTcuMzI0IDAgOC42NjIgOC42NjIgMCAxIDEgMTcuMzI0IDB6IiB0cmFuc2Zvcm09Im1hdHJpeCguNjkzIDAgMCAuMzc0IC0xNS41NDggMy40ODEpIiBmaWxsPSJ1cmwoI2YpIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PHBhdGggZD0iTTQuMDQ2IDEyLjM5OGg0LjEzN2MxLjE3MiAwIDIuMzMyLS40MyAyLjc1OC0xLjY1NS40MDQtMS4xNjMuMDY5LTMuMzc4LTIuNTUxLTUuMTcxaC00Ljg5NWMtMi42MiAxLjY1NS0yLjk0NyAzLjkxNy0yLjM0NCA1LjI0LjYxNCAxLjM0NyAxLjY1NSAxLjU4NiAyLjg5NiAxLjU4NnoiIGZpbGw9InVybCgjZykiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjMjA0YTg3IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIG92ZXJmbG93PSJ2aXNpYmxlIiBzdHJva2Utd2lkdGg9IjAuMzkiLz48cGF0aCBkPSJNNC4zMjEgNi4xOTNjMS4yNDEgMS4xMDMgMS43OTMgNS4xMDIgMS43OTMgNS4xMDJzLjU1Mi0zLjk5OSAxLjUxNy01LjE3MWwtMy4zMDkuMDY5eiIgZmlsbD0idXJsKCNoKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik01LjIxIDYuNjA3cy0uODM5LjY0OC0uNzY3IDEuNDI4Yy0uNzk2LS43MDItLjgxOS0yLjA0OC0uODE5LTIuMDQ4bDEuNTg2LjYyeiIgZmlsbD0iIzcyOWZjZiIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik00LjAxOCAxMS45OTJsNC4wOTItLjAwOWMxLjAyOSAwIDIuMDQ5LS4zNzcgMi40MjItMS40NTMuMzU1LTEuMDIyLS4wMzctMi45NjctMi4zMzgtNC41NDJsLTQuNDk1LS4wOTVjLTIuMzAxIDEuNDUzLTIuNzQ3IDMuNDQxLTIuMjA4IDQuNjk3LjUzOCAxLjI1NiAxLjMyNCAxLjM5MyAyLjUyNiAxLjQwMXoiIG9wYWNpdHk9Ii4yMTUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBvdmVyZmxvdz0idmlzaWJsZSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIwLjM5Ii8+PHBhdGggZD0iTTYuOTQxIDYuNjA3cy44MzkuNjQ4Ljc2NyAxLjQyOGMuNzk2LS43MDIuODE5LTIuMDQ4LjgxOS0yLjA0OGwtMS41ODYuNjJ6IiBmaWxsPSIjNzI5ZmNmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG92ZXJmbG93PSJ2aXNpYmxlIi8+PHBhdGggZD0iTTM5Ljc3NSAxOS4wMDlhOC42NjIgOC42NjIgMCAxIDEtMTcuMzI0IDAgOC42NjIgOC42NjIgMCAxIDEgMTcuMzI0IDB6IiB0cmFuc2Zvcm09Im1hdHJpeCguMzkgMCAwIC4zOSAtNi4xMzggLTIuNDc1KSIgZmlsbD0idXJsKCNpKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik0zOS43NzUgMTkuMDA5YTguNjYyIDguNjYyIDAgMSAxLTE3LjMyNCAwIDguNjYyIDguNjYyIDAgMSAxIDE3LjMyNCAweiIgZmlsbD0idXJsKCNqKSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2U9IiNjMTdkMTEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgb3ZlcmZsb3c9InZpc2libGUiIHRyYW5zZm9ybT0ibWF0cml4KC4zOSAwIDAgLjM5IC02LjA4OSAtMy44NCkiLz48cGF0aCBkPSJNMzkuNzc1IDE5LjAwOWE4LjY2MiA4LjY2MiAwIDEgMS0xNy4zMjQgMCA4LjY2MiA4LjY2MiAwIDEgMSAxNy4zMjQgMHoiIHRyYW5zZm9ybT0ibWF0cml4KC4zNDIgMCAwIC4zNDIgLTQuNTk4IC0yLjkyOSkiIG9wYWNpdHk9Ii4xOTYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjE0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIG92ZXJmbG93PSJ2aXNpYmxlIiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTIuNDMzIDEyLjA2MmMtLjQ4Ny0uMjEzLS43MDQtLjcyNS0uNzA0LS43MjUuMzI4LTEuNTg3IDEuNDUxLTIuNzQ4IDEuNDUxLTIuNzQ4cy0uODg5IDIuNS0uNzQ2IDMuNDczeiIgb3BhY2l0eT0iLjIyOCIgZmlsbD0idXJsKCNrKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjxwYXRoIGQ9Ik05LjgwNiAxMS43MjhjLjQ4LS4yMjcuNzA0LS43ODEuNzA0LS43ODEtLjM3NC0xLjU3Ny0xLjU1MS0yLjY2OS0xLjU1MS0yLjY2OXMuOTYxIDIuNDc0Ljg0NyAzLjQ1eiIgb3BhY2l0eT0iLjIyOCIgZmlsbD0idXJsKCNsKSIgZmlsbC1ydWxlPSJldmVub2RkIiBvdmVyZmxvdz0idmlzaWJsZSIvPjwvZz48L3N2Zz4=");
    padding-left: 15px !important;
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 1.125em;
    margin-top: 0.5em;
    white-space: nowrap;
}
.mw-echo-notifications-badge {
    min-width: 7px;
    border-radius: 2px 2px 2px 2px;
    padding: 0.25em 0.45em 0.2em;
    margin-left: -4px;
    text-align: center;
    background-color: rgb(210, 210, 210);
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.mw-echo-overlay {
    position: absolute;
    top: 30px;
    left: 0px;
    border: 1px solid silver;
    background-color: rgb(255, 255, 255);
    width: 450px;
    min-height: 2em;
    padding: 0px;
    color: rgb(109, 109, 109);
    z-index: 100;
    box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.35);
}
.mw-echo-notification {
    list-style-type: none;
    list-style-image: none;
}
.mw-echo-notifications {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    list-style-image: none;
    overflow: auto;
    background-color: rgb(238, 238,238);
}
.mw-echo-notification-wrapper {
    display: block;
    background-color: rgb(241, 241, 241);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 15px 40px 10px 10px;
    white-space: normal;
    font-size: 13px;
    line-height: 16px;
    color: inherit;
    text-decoration: inherit;
}
.mw-echo-icon {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.mw-echo-content {
    font-size: 13px;
    font-weight:normal;
    line-height: 16px;
    overflow: hidden;
}

.error {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    background-image: url("../static/images/squiggle.png");
    background-repeat: repeat-x;
    background-position: left bottom;
}

.list-inline {
    display: inline-block;
}

.top-nav {
    padding: 0;
}

.app-footer {
    bottom: 0;
    left: 0;
    margin-top: 30px;
    min-height: 148px;
    padding: 15px;
    position: absolute;
    width: 100%;
}

.app-footer hr {
    margin-bottom: 0;
}

/* add spacing for sticky footer */
body::after {
    content: '';
    display: block;
    min-height: 148px;
}

.lang-dropdown .dropdown-menu {
    height: 194px;
    overflow-y: scroll;
}

.navbar-default {
    background: transparent;
}

.form-fieldset {
    margin-bottom: 15px;
}

.form-submit {
    margin-bottom: 20px;
}

.form-row .input-group-addon label {
    font-weight: normal;
    margin: 0;
}
